Source: covetel-peribeco
Section: perl
Priority: extra
Maintainer: Luis Alfredo da Silva <luisdasilva@covetel.com.ve>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.covetel.com.ve

Package: covetel-peribeco
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Control de usuarios y grupos de un ldap
 Peribeco es una aplicacion web que nos facilita la administracion de usuarios y grupos en un ldap
