Source: covetel-peribeco
Section: unknown
Priority: extra
Maintainer: Luis Alfredo da Silva <luisdasilva@covetel.com.ve>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/covetel-peribeco.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/covetel-peribeco.git;a=summary

Package: covetel-peribeco
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
